<div class="header">
    <div><h1><a href="http://localhost:8080/">LinkUp</a></h1></div>
    <div class="search">
        <form action="/search" method="get">
            <input type="search" name="username" id="search" placeholder="username name" required>
            <button type="submit" class="pointer">Search</button>
        </form>
    </div>
</div>